.todoapp{
    background-color: #FBFBFF;
    padding: 60px;
    margin: 60px;
    border-radius: 10px;
.container{
    h1{
        color: #15023a;
        margin-bottom: 50px;
    }
    button{
        border: transparent;
    }

    .list{
        .title{
            color: white;
        }
        .form-control{
            outline: none;
        }
    }
}
}
